@font-face {
    font-family: Berlin;
    src: url('../font/BetterGrade-519DV.ttf');
}

* {
    font-family: sans-serif;
    cursor: none;
}

a {
    cursor: none !important;
}
body {
  /* background-color: black; */
  /* min-width: 100vw;
  min-height: 100vh; */
  margin: 0;
  display: block;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)
      no-repeat center center fixed;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
  color: #ffffff;

  /* padding: 250px 25px; */
}


.name {
    margin-left: 5%;
    font-family: Berlin;
    padding-top: 2%;
    font-size: 80px;
    box-sizing: border-box;
}

#demo {
    color: #ffffff;
}

p {
    text-align: center;
  font-size: 60px;
  margin-top: 0px;
}
footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
}

footer div {
    text-align: center;
}

.timer-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.timer-box {
    font-size: 120px;
    margin: 10px;
    font-family: sans-serif;
    border-radius: 10px;
    background: rgb(255 255 255 / 20%);
    outline: none;
    padding: 10px;
    width: 200px;
    min-width: 200px;
    text-align: center;
}

.timer-label {
    font-size: 20px;
}

/* Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: none;
  }

  .modal-content {
    color: #000000 !important;
  }

  .modal-content  h2{
    margin-bottom: 5px;
  }

  table {
    width: 50%;
    border: 1px solid #000000;
    border-radius: 5px;
  }

  table  tbody {
    height: 230px;
    border-radius: 5px;
  }
  table tr {
    border-radius: 5px;
  }
  table  td {
    padding: 18px;
    box-sizing: border-box;
    border-radius: 5px;
  }
